*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

canvas{
    border: 1px black solid;
    background-color: rgb(48, 48, 48);
    background-image: url('space.jpg');
    
}

.main{
    min-height:25vh;
    height: fit-content;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.sub{
    display: inline-block;
    padding: 1px 12px;
    justify-items: center;
    vertical-align: top;
}

#generate{
    margin-top: 3px;
    padding: 5px;
    border-radius: 3px;
    color: green;
    background-color: white;
    border: 2px green solid;

}

input[type='range']{
    /* width: 1em; */
}

#generate:hover{
    color: white;
    background-color: green;
    /* border: 2px white solid; */
}